<div id="container">
  <div id="github">
      <a href="https://github.com/" target="_blank">
      <img src="assets/img/projekty/github.png">
      </a>
  </div>
  <div id="tekst">
    <h2>Nasze projekty trzymamy na darmowym hostingu <a href="https://github.com/" target="_blank" >github</a>, który pozwala tworzyć właśne repozytoria z projektami.</h2>
    <h1>Nasze Projekty</h1>
      <h2><a href="https://github.com/czareks/FirstSite" target="_blank">Strona kółka programistycznego</a></h2>
      <a href="https://github.com/czareks/FirstSite" target="_blank">
        <img src="assets/img/projekty/strona.PNG">
      </a>

      <h2><a href="https://github.com/czareks/myearth" target="_blank">Aplikacja MyEarth zrobiona w technologii flutter</a></h2>
      <a href="https://github.com/czareks/myearth" target="_blank">
        <img src="assets/img/projekty/flutter.png">
      </a>
  </div>

</div>

<mat-card class="footer">Copyright © 2019, Grzegorz Pakuła, Cezary Śliwiński, Daniel Michalak</mat-card>
